


<style>
  .cas-email-message-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cas-email-message-text-block {
    margin-bottom: 30px;
  }

  .cas-email-message-body-block {
    padding-top: 30px;
  }

  .cas-form-block {
    width: 300px;
  }

  .cas-button {
    background-color: #004f9f;
  }

.cas-brand-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cas-body {
  font-family: 'Notosanskr webfont', sans-serif;
}

.cas-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

</style>
<body class="cas-body">
    <div class="cas-main-section">
        <div class="cas-container w-container">
            <div class="cas-brand-block"><img src="http://uploads.webflow.com/5a7c47cea1fe2b000136a2c2/5ae5bcbe0a0d58474782f682_untitled.png" width="100" class="cas-image"></div>
            <div class="cas-email-message-block">
                <h2 class="cas-email-message-title-heading">비밀번호 변경 요청</h2>
                <div class="cas-email-message-body-block">
                    <div class="cas-email-message-text-block">Name님이 비밀번호 변경을 요청하셨습니다. 다음 링크를 클릭하고 웹페이지로 이동하여 비밀번호를 변경하실 수 있습니다. 비밀번호 변경을 위한 링크는 오늘 하루만 유효합니다. 만일 본인이 비밀번호 변경을 요청하지 않았다면 이 메시지를 무시하세요. CAS를 애용해주셔서 고맙습니다.</div><a href="#" class="cas-email-message-text-link">비밀번호 변경을 위한 링크</a></div>
            </div>
        </div>
    </div>
</body>