{% extends "layout/home.html" %}
{% load staticfiles %}
{% block title %}Password Update{% endblock %}

{% block content %}
<div class="cas-brand-block"><img src="{% static 'images/untitled.png' %}" width="100" class="cas-image"></div>
<div class="cas-email-message-block">
  <h2 class="cas-email-message-title-heading">비밀번호 변경</h2>
  <div class="cas-email-message-body-block">
    <div class="cas-email-message-text-block">{{username}} 님의 비밀번호 변경을 위해 새로운 비밀번호를 입력해주세요.</div>
  </div>
  <div class="cas-form-block w-form">
    {% if success %}
    <div class="w-form-done" style="display: block;">
      <div>{{msg}}</div> 
    </div>
    {% endif %}
    {% if fail %}
    <div class="w-form-fail" style="display: block;">
      <!-- <div>비밀번호 변경이 실패했습니다! 잠시 후 다시 시도해주세요.</div> -->
      <div>{{msg}}</div> 
      
    </div>
    <br>
    {% endif %}
    {% if not success %}
    <form id="wf-form-CAS-Form" method="POST" data-name="CAS Form" class="form">
      <label for="password">새 비밀번호를 입력하세요</label>
      <input type="password" class="w-input" maxlength="256" autofocus="true" name="password1" id="password" required="">
      
      <label for="password-2">새 비밀번호를 다시 입력하세요</label>
      <input type="password" class="w-input" maxlength="256" autofocus="true" name="password2" id="password-2" required="">
      {% csrf_token %}
      <input type="submit" value="요청" data-wait="잠시 기다려주십시오." class="cas-button w-button">
    </form>
    {% endif %}
  </div>
</div>
  
{% endblock %}


